.access__input {
    width: 358px;
    height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 30px;
    background-color: #000000;
    
}

@media screen and (max-width: 570px) {
    .access__input {
        width: 238px;
        margin-left: 22px;
        margin-right: 22px;

    }
}

.access__input:focus {
    border-color: blue;
}