.popup__error_visible{
    color: rgba(255, 0, 0, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 5px;
    max-width: 358px;
    display: block;
    box-sizing: border-box;

   
}
@media screen and (max-width: 570px) {
    .popup__error_visible {
        width: 238px;
        margin-left: 22px;
        margin-right: 22px;

    }
}