.elements__like-button {
    background-image: url(../../../images/Vector.svg);
    min-width: 22px;
    height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 0;
}

.elements__like-button:hover {
    opacity: 0.5;
}