.elements__trash-button{
    background-image: url(../../../images/Trash.svg);
    background-color: rgba(1,1,0,0);
    background-repeat: no-repeat;
    min-width: 18px;
    height: 19.3px;
    position: absolute;
    top: 20px;
    left: 244px;
    right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
    opacity: 0;
}
.elements__trash-button:hover {
    opacity: 0.6;
}